/* color variables */
:root {
	--header-footer-bg: #09212a;
	--main-bg: #06171e;
	--text-color: #ffffff;
}

/* fonts */

@font-face {
	font-family: 'Raleway';
	src: url('./assets/fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* body settings (100vh without header/footer) */

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	font-family: 'Raleway', sans-serif;
	color: var(--text-color);
}

/* header/main/footer settings */
/* header */
header {
	padding: 0px 240px;
	height: 64px;
	background-color: var(--header-footer-bg);
}

.header-home-link {
	display: flex;
	align-items: center;
	gap: 16px;
	height: 100%;
	color: white;
	text-decoration: none;
}

.header-logo {
	height: 40px;
	width: 40px;
}

/* main part / images */

main {
	flex: 1;
	background-color: var(--main-bg);
	padding: 0px 240px;
}

.gallery-images {
	object-fit: cover;
	height: 256px;
	width: 256px;
}

footer {
	height: 80px;
	background-color: var(--header-footer-bg);
}
