/* color variables */
:root {
	--header-footer-bg: #09212a;
	--main-bg: #06171e;
	--text-color: #ffffff;
}

/* fonts */

@font-face {
	font-family: 'Raleway';
	src: url('./assets/fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1 {
	margin: 0;
}

.title {
	margin-bottom: 16px;
}

/* body settings (100vh without header/footer) */

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	font-family: 'Raleway', sans-serif;
	color: var(--text-color);
}

/* header/main/footer settings */
/* header */
.page-heading {
	padding: 0px 240px;
	height: 64px;
	background-color: var(--header-footer-bg);
}

.header-home-link {
	display: flex;
	align-items: center;
	gap: 16px;
	height: 100%;
	color: white;
	text-decoration: none;
	width: fit-content;
}

.header-logo {
	height: 40px;
	width: 40px;
}

/* main part / images */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	flex: 1;
	background-color: var(--main-bg);
}

.gallery-images {
	object-fit: cover;
	height: 196px;
	width: 196px;
	margin: 8px;
	border-radius: 16px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.gallery-images:hover {
	transform: scale(1.08);
}

.gallery-images:active {
	transform: scale(1);
}

.all-images-section {
	display: grid;
	max-width: 1440px;
	grid-template-columns: repeat(4, 1fr);
}

.page-footer {
	height: 80px;
	background-color: var(--header-footer-bg);
}

/* Dialog styling */

.slideshow-dialog {
	background-color: var(--main-bg);
	border: 0px;
	border-radius: 12px;
}

.slideshow-dialog::backdrop {
	background-color: #73737339;
}

.single-dialog-img {
	object-fit: cover;
	border-radius: 12px;
	width: 256px;
	height: 256px;
}
