/* footer section styling */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--header-and-footer-bg);
  height: 80px;
  padding: 0px 256px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-logo {
  height: 24px;
  width: 96px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.copyright-tag {
  margin: 0;
  color: rgb(196, 196, 196);
  font-size: 12px;
}

/* responsiveness footer */

@media (max-width: 1200px) {
  .footer {
    padding: 0px 128px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 0px 32px;
  }

  .footer-link {
    display: none;
  }
}
